
html {
    scroll-padding-top: 100px; /* Adjust the value to your header's height */
}



/* General Styles */
body {
    margin: 0;
    padding: 0;
    background-color: var(--color-background);
    font-size: var(--font-size-regular);
    font-family: var(--text-body-font);
    line-height: 1.6;
    color: var(--color-text);
}



.about-section-text {
    display: flex;
    flex-direction: row;
    margin-left: var(--left-margin);
}



.name-text {
    font-family: var(--text-headings-fonts);
    font-size: var(--font-size-name);
    margin-bottom: 30px;
}

/* Introduction Section */
.about-intro-section {
    font-family: var(--text-headings-fonts);
    background-color: var(--color-background);
    margin-top: var(--top_margin);
    gap: 20px;
}



.about-profile-img {
    width: 400px; /* Adjust width as needed */
    height: 400px; /* Adjust height to match */
    margin-top: 20px;
    margin-left: -50px;
    object-fit: contain;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.0);
    border-radius: 50%;
    flex-shrink: 0; /* Prevents the image from shrinking */
    margin-right: 20px;
    overflow: hidden;

}

.about-content-container {
    font-family: var(--text-body-font);
    margin-left: var(--left-margin);
    display: flex;
    align-items: flex-start;
}


/* Align Text Next to Image on Left */
.about-intro-text {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 20px;
}


.about-social-links {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
}

.about-social-icon {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

/* About Section */
.about-main-content {
    width: 80%;
    margin-top: 0;
}

/* Publications Section */
.publication-item {
    display: flex;
    align-items: flex-start;
    width: 80%;
}

.publication-items-header {
    font-family: var(--text-headings-fonts);
    margin-left: var(--left-margin);
    font-size: var(--font-size-large-heading);
    margin-top: 10px;
    margin-bottom: -50px;
}


.publication-item-text {
    margin-top: 50px;
    margin-left: var(--left-margin);
    flex-direction: column;
}


.publication-item-title {
    font-weight: bold;
    margin-bottom: -0px; /* Adjust if necessary for the desired spacing */

}

.publication-item-authors,
.publication-item-venue {
    font-style: italic;
    color: #555;
    margin-bottom: 0px; /* Adjust if necessary for the desired spacing */
}

.publication-item-links a {
    color: var(--color-link);
    text-decoration: none;
}

.publication-item-links a {
    color: var(--color-link);
    text-decoration: none;
}