@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400&family=Cormorant+Garamond:wght@400&family=Bodoni+Moda:wght@400&family=Libre+Baskerville:wght@400&family=Merriweather:wght@400&family=Lora:wght@400&family=EB+Garamond:wght@400&family=Didot:wght@400&family=Crimson+Text:wght@400&family=Spectral:wght@400&display=swap');
@import url("desktop.css") screen and (min-width: 1100px);
@import url("mobile.css") screen and (max-width: 1100px);


:root {
    /* Font Sizes */
    --font-size-nav: 16px;
    --font-size-large-heading: 32px;
    --font-size-name: 45px;
    --font-size-regular: 16px;
    --font-size-about: 16px;

    /* Colors */
    --color-background: white;
    --color-text: #333;
    --color-link: #b5621f;
    --color-link-hover: #b5621f;
    --color-border: #ddd;

    /*margin*/
    --left-margin: 30vw;
    --top_margin: 50px;

    /*fonts*/
    --text-headings-fonts: 'Merriweather', serif;
    --text-body-font: 'Merriweather', serif;

}


.link-no-underline {
    color: var(--color-link);
    text-decoration: none;
}


/* Navigation Bar */
.navbar {
    font-family: var(--text-headings-fonts);
    position: fixed;
    top: 0px;
    z-index: 1000;
    box-shadow: 0px 4px 2px -2px gray;
    width: 100%;
    background-color: var(--color-background);
    border-bottom: 1px solid var(--color-border);
    padding: 10px 0px;
    text-align: center;
    font-size: var(--font-size-nav);
}

.navbar a {
    margin: 0 50px;
    text-decoration: none;
    color: var(--color-text);
    font-weight: bold;
}


.navbar a.active {
    color: var(--color-link-hover); /* Or any color to indicate it's active */
    border-bottom: 0.1vw solid var(--color-link-hover);
}


